.header {
    border-bottom: 1px solid #ececec;
}
.navigation {
    @media screen and (min-width: 320px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}
.nav {
    display: flex;
    align-items: center;
    @media screen and (min-width: 320px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: var(--logo-color);
}
.logo__part {
    color: var(--main-color);
}
.navigation__menu__list {
    @media screen and (min-width: 768px) {
        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.menu {
    display: flex;

    &__item {
        color: var(--main-color);
    }
    &__item-list {
        margin-right: 50px;
    }
    &__item-list:last-child {
        margin-right: 0;
    }
    &__link {
        position: relative;
        display: block;
        @include font(500, 14px, 1.14, 0.02em);
        color: var(--main-color);
        padding-top: 32px;
        padding-bottom: 32px;
        &:hover,
        &:focus {
            color: var(--logo-color);
        }
    }
}

.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}

.contacts {
    display: flex;
    margin-left: auto;

    &__item {
        color: var(--secondary-color);
    }
    &__item + .item {
        @media screen and (min-width: 768px) {
            margin-left: 0px;
        }
        @media screen and (min-width: 1200px) {
            margin-left: 30px;
        }
    }
    &__link {
        font-style: normal;
        @include font(500, 14px, 1.14, 0.02em);
        color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: color, fill;
        transition-duration: 250ms;
        &:hover,
        &:focus {
            color: var(--logo-color);
        }
        @media screen and (min-width: 768px) {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    &__icon {
        fill: currentColor;
        &:hover,
        &:focus {
            fill: var(--logo-color);
        }
    }
    &__icon-menu {
        margin-right: 10px;
    }
}

.container__contacts__list {
    // display: flex;
    margin-left: auto;
    @media screen and (min-width: 320px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }
}
// ----------------MENU----------------------
.menu-open-btn {
    margin-left: auto;
    background-color: #fff;
    border-color: #fff;
    border-width: 0;
}

.menu-open-link {
    fill: #212121;
    margin-left: auto;
    &:hover,
    &:focus {
        fill: var(--logo-color);
    }
}

.menu-close-btn {
    margin-left: auto;
    background-color: #fff;
    border-color: #fff;
    border-width: 0;
}

.menu-close-link {
    fill: #212121;
    margin-left: auto;
    &:hover,
    &:focus {
        fill: var(--logo-color);
    }
}

.mob-menu {
    position: absolute;
}
